<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css"/>
    <title>Go-TODO</title>
</head>
<body>

<table cellpadding=10 class="bg">
    <tr>
        <td>
            <table class="section">
                <tr>
                    <th>Group</th>
                    <th>Tasks Count</th>
                </tr>
                {{range .Groups}}
                <tr>
                    <td>
                        <a href='/group/tasks?g_id={{.GId}}'>{{.GName}}</a>
                    </td>
                    <td align="center">
                        {{.TasksCount}}
                    </td>
                </tr>
                {{end}}
            </table>

            <form method="POST" action="/group/create">
                <input id="g_name" type="text" name="g_name"/>
                <input type="submit" value="+"/>
            </form>

        </td>

        {{if .CurrentGroup}}
        <td>
            <form method="POST" action="/group/update?g_id={{.CurrentGroup.GId}}">
                <input style="font-size: 14pt" type="text" name="g_name" value="{{.CurrentGroup.GName}}"/>
                <input type="submit" value="!"/>
                <a href="/group/delete?g_id={{.CurrentGroup.GId}}"><input type="button" value="x"/></a>
            </form>

            <table class="section">
                <tr>
                    <th>Date</th>
                    <th>Subject</th>
                    <th>Priority</th>
                </tr>
                {{range .GroupTasks}}
                <tr>
                    <td>
                        {{.TDate}}
                    </td>
                    <td>
                        <a href="/task/edit?t_id={{.TId}}">{{.TSubject}}</a>
                    </td>
                    <td align="center">
                        {{.TPriority}}
                    </td>
                </tr>
                {{end}}
            </table>

            <form method="POST" action="/task/create?g_id={{.CurrentGroup.GId}}">
                <input type="text" name="t_subject"/>
                <input type="submit" value="+"/>
            </form>

        </td>
        {{end}}

        {{if .CurrentTask}}
        <td>
            <span style="font-size: 14pt">{{.CurrentTask.TSubject}}</span>

            <form method="POST" action="/task/update?t_id={{.CurrentTask.TId}}">
                <table>
                    <tr>
                        <td class="form-label">Date</td>
                        <td><input type="text" name="t_date" id="t_date" value="{{.CurrentTask.TDate}}"/></td>
                    </tr>
                    <tr>
                        <td class="form-label">Subject</td>
                        <td><input type="text" name="t_subject" id="t_subject" value="{{.CurrentTask.TSubject}}"/></td>
                    </tr>
                    <tr>
                        <td class="form-label">Priority</td>
                        <td><input type="text" name="t_priority" id="t_priority" value="{{.CurrentTask.TPriority}}"/>
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <td class="form-label">Comments</td>
                        <td><textarea name="t_comments" id="t_comments" cols="40"
                                      rows="5">{{.CurrentTask.TComments}}</textarea></td>
                    </tr>
                </table>

                <div align="right">
                    <p style="text-align: center;">
                        <input type="submit" value="!"/>
                        <a href="/task/delete?t_id={{.CurrentTask.TId}}">
                            <input type="button" value="x"/>
                        </a>
                        <a href="/group/tasks?g_id={{.CurrentGroup.GId}}">
                            <input type="button" value="&lt;"/>
                        </a>
                    </p>
                </div>

            </form>
        </td>
        {{end}}

    </tr>
</table>

</body>