<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:noNamespaceSchemaLocation="settings.xsd">

    <folders target="dal" sql="sdm/sql"/>

    <dto scope="dal" inheritance="" field-names-mode="0" single-file=""/>

    <dao scope="dal"/>

    <external-vm-file path=""/>

    <ide event-log="true"/>

    <cpp class-prefix=""/>

    <jdbc jar="sdm/sqlite-jdbc-3.30.1.jar" class="org.sqlite.JDBC"
          url="jdbc:sqlite:$PROJECT_DIR$/todo-list.sqlite" user="" pwd=""/>

    <type-map default="">
        <type detected="java.lang.Integer" target="int64"/>
        <type detected="java.lang.Double" target="float64"/>
        <type detected="java.lang.Float" target="float64"/>
        <type detected="java.lang.String" target="string"/>
        <type detected="byte[]" target="byte[]"/>
        <type detected="java.lang.Object" target="interface{}"/>
    </type-map>

</settings>